.list {
  font-size: 1.2rem;
  font-weight: 500;
}

.list li {
  margin-top: 1rem;
}

.list a {
  color: var(--primary-dark-color);
  cursor: pointer;
}

.list a:hover {
  filter: brightness(80%);
}

@media (min-width: 768px) {
  .list {
    font-size: 1.5rem;
  }
}
